body {
  font-family: Arial, sans-serif;
  overflow-x:auto;
}
element.style {
  width: 1500px;
}

.navbar{
  min-width: 1350px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  gap: 10px;
  background-color: #0f528c04;
  border-radius: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}

.navbar h1{
  margin-left: 20px;
  margin-top: 25px;

}
.navbar .icon {
  width: 140px; 
  height: 40x;
  margin-right: 1px; 
  margin-bottom: 9px;
}

.icones{
  display: flex;
  gap: 20px;
}
.icones1{
  margin-left: 500px;
}
.icones1 ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.icones1 li {
  border-radius: 10px;
  padding: 10px 10px;
}

.icones1 a:hover {
  color: #0f518c; 
  text-decoration: underline;
  text-decoration-color: #0f518c;
}

.icones1 a {
  text-decoration: none;;
  color: #000000;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
/* Par défaut (mode clair) */
li a {
color: #000; /* couleur des textes en mode clair (noir) */
transition: color 0.3s ease; /* transition fluide */
}

li a i {
color: #000; /* couleur des icônes en mode clair (noir) */
}

/* Mode sombre */
body.dark-mode li a {
color: #fff; /* couleur des textes en mode sombre (blanc) */
}

body.dark-mode li a i {
color: #fff; /* couleur des icônes en mode sombre (blanc) */
}

.icones1 i {
  font-size: 18px;
}

.separator li{
  width: 1px;
  height: 40px;
  list-style: none;
  background-color: rgba(128, 128, 128, 0.567); 
  margin-top: 35px;
}


.icones2 {
  list-style:none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-top: 5px;
  position: relative;
}

.icones2 li {
  margin:auto;
  margin-top: 25px;
  border-radius: 10px;
  padding: 10px 15px;
}


.icones2 button{
  margin: auto;
  width: 45px;
}


.icones2 span {
  text-decoration: none;
  color:#0f518c ;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.icones2 i {
  font-size: 18px;
}

:root {
  /* Light mode variables */
  --switch-bg: rgb(135, 150, 165);
  --circle-bg: #0f518c;
  --switch-width: 48px;
  --switch-height: 20px;
  --circle-diameter: 32px;
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  --circle-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.dark-mode {
  background-color: #121212eb; /* Couleur de fond sombre */
  color: #ffffff; /* Texte clair */
}

body.dark-mode .slider .circle {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiMwMDAiCiAgICAgICAgZD0iTTcuNyAxMS41bC0xLjQgMy4yIDMuMyAxLjItMS4yIDMuMiAzLjItMS4yLTEuMiAzLjMtMy4yLTEuMiAxLjIgMy4ybC0xLjIgMy4zIDMuMi0xLjItMS4yIDMuMiAzLjItMS4yLTEuMiAzLjItMS4yLTMuMy0xLjItMy4ybC0xLjMgMy4ybC0xLjIgMy4yIDMuMy0xLjItMS4yIDMuMiAzLjItMS4yLTEuMiAzLjItMS4ybC0xLjMtMy4ybC0xLjItMy4yIDMuMiAxLjItMS4yIDMuMiAzLjItMS4ybC0xLjMtMy4yIDEuMi0zLjJ6IiAvPgo8L3N2Zz4="); /* Icône sombre */
}
/* Par défaut (mode clair) */

.icon {
content: url('/assets/swap.png'); /* image pour le mode clair */
transition: content 0.3s ease; /* transition fluide */
}

/* Mode sombre */
body.dark-mode .icon {
content: url('/assets/swap-dark.png'); /* image pour le mode sombre */
width: 140px; 
height: 40x;
margin-right: 1px; 
margin-bottom: 9px;
}

body.dark-mode a{
color: #ffffff;
}

body.dark-mode .card{
border-color: #ffffff;
}

body.dark-mode .text rect{
fill: #ffffff;
}

body.dark-mode .text path{
fill: #ffffff;
}

body.dark-mode .text p{
color: #ed0049;
}

body.dark-mode .tooltip-container{
background-color: #504f4f;
}
.ui-switch {
  margin-top: 38px;
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: var(--circle-shadow);
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1), transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  transition: all 500ms;
  opacity: 0;
}

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active + .slider .circle::before {
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

.icone {
  position: relative; 
  text-align: center;
}
.icone i {
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.icone:hover i {
  color: #ed0049; 
}

.tooltip {
  position: absolute;
  bottom: -15px; /* Position en dessous de l'icône */
  left: 50%;
  transform: translateX(-50%);
  background-color: #c9c4c4; 
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0; /* Invisible */
  pointer-events: none; /* Empêche les interactions avec le tooltip */
  transition: opacity 0.3s ease;
}

.icone:hover .tooltip {
  opacity: 1; 
}
.menu {
  width: 150px;
  height: 200px;
  background-color: #ffffff;
  color: white;
  padding: 10px;
  position: absolute;
  top: 90px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  flex-direction: column;
  margin-left: 50px;
  display: none; /* Cache la liste par défaut */
}

.menu h4 {
 color: #0f518c;
 margin: 0;
 padding-bottom: 10px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}


.menu ul li {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  color: #666565;
  
}
.menu ul li a {
  text-decoration: none; 
  color: inherit; 
}
.menu ul li a:hover {
  color: #0f518c; 
}
@media screen and (max-width: 600px) {
  body{
    background-color: #f0f0f0;
    overflow-x:hidden;
}
.icones1 {
    display: none;
}
.navbar {
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
}

.navbar .icon {
  margin-top: -30px;
  margin-left: 90px;
}

.separator{
    display: none;
}
.icones2{
    margin-left: 100px;
    margin-top: -85px;
}
  .cards{
      flex-direction: column; /* Passe les éléments à une colonne sur petits écrans */
      align-items: flex-start; /* Aligne à gauche */
  }
  .card{
    margin-right: 30px;
}

 

}


.courses h2{
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 20px;
}
.courses-bar{
text-align: center;
margin-top: 50px;
display: flex;
gap: 30px;
margin-top:auto;
}
.all-courses{
margin-top: 20px;
display: flex;
}
.all-courses-button h5{
margin-top: 4px;
color:#000000;
}
.all-courses-button img{
display: flex;
margin-left: 97px;
margin-top: -36px;

}
.all-courses-button{
height: 30px;
width: 130px;
font-size: 15px;
border: none;
background-color:#0f528c75 ;
border-radius: 30px;
cursor: pointer;
transition: background-color 0.3s ease;
border-color: black;
}

.all-courses-button:hover {
background-color: #0f518c;
}
.all-courses-button h5:hover {
color: #ddd;
}
.all-courses-all{
display: flex;
gap: 10px;
}

.courses-list  {
margin-top: 20px;
font-size: 16px;
display: none; /* Cache la liste par défaut */
}

.courses-list button {
display: flex; 
text-align: center;
flex-direction: column;
padding: 8px;
background-color: #0f528c44;
border: 1px solid #ddd;
margin: 5px 0;
max-width: 200px;
border-radius: 50px;
color: #000;transition: color 0.3s ease, background-color 0.3s ease; /* Transition fluide */
}

/* Mode sombre */
body.dark-mode .courses-list button {
color: #fff;  /* Couleur du texte en mode sombre (blanc) */
background-color: #0f528c;  /* Vous pouvez également ajuster la couleur de fond pour le mode sombre si nécessaire */
}

.courses-list button:hover {
background-color: #e0e0e0;
}


.cards {
display: flex;
gap: 25px;
margin-top: 30px;
margin-left: 45px;
}

.card {
height: 370px;
padding: 20px;
border-radius: 5px;
border-style:groove;
border-color: #ed0049;
width: 300px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-align: center;
}

.card img {
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
width: 250px;
height: 150px;
}

.card h3 {
margin: 10px 0;
font-size: 18px;
}

.profile{
display: flex;
gap:10px;
}
.profile a{
align-items: center;
margin-top: 10px;
text-decoration: none;
color: #000;
}
.profile-photo img{
width: 40px;
height: 40px;
margin-left: 35px;
border-radius: 50%;
}

.tooltip-container {
display: flex;
align-items: center;
width: 100px;
margin-left: 70px;
justify-content: center;
position: relative;
transition: all 0.3s;
background-color: rgb(255, 255, 255);
border-radius: 12px;
cursor: pointer;
border: 1px solid rgb(211, 211, 211);
}

.text {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
font-size: 14px;
font-weight: 600;
color: rgb(0, 0, 0);
}
.svgIcon {
width: 16px;
height: auto;

}
.tooltip2 {
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
padding: 0.3em 0.6em;
opacity: 0;
pointer-events: none;
transition: all 0.3s;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 12px;
color: rgb(246, 8, 8);
}



.tooltip-container:hover .tooltip2 {
top: 100%;
opacity: 1;
visibility: visible;
pointer-events: auto;
}


.bouton-next {
display: flex;
margin-top: 25px;
margin-left: 60px;
justify-content: center;
--color-text: #9ee5fa;
--color-background: #353535;
--color-outline: #9ee5fa80;
--color-shadow: #00000080;
}

.next {
display: flex;
align-items: center;
padding: 0px 3px;
text-decoration: none;
font-family: "Poppins", sans-serif;
font-size: 25px;
color: var(--color-text);
background: var(--color-background);
transition: 1s;
border-radius: 100px;
box-shadow: 0 0 0.2em 0 var(--color-background);
}

.next:hover,
.next:focus {
transition: 0.5s;
-webkit-animation: btn-content 1s;
animation: btn-content 1s;
outline: 0.1em solid transparent;
outline-offset: 0.2em;
box-shadow: 0 0 0.4em 0 var(--color-background);
}

.next .icon-arrow {
transition: 0.5s;
margin-right: 0px;
transform: scale(0.6);
}

.next:hover .icon-arrow {
transition: 0.5s;
margin-right: 25px;
}

.icon-arrow {
width: 20px;
margin-left: 15px;
position: relative;
top: 6%;
}

/* SVG */
#arrow-icon-one {
transition: 0.4s;
transform: translateX(-60%);
}

#arrow-icon-two {
transition: 0.5s;
transform: translateX(-30%);
}

.next:hover #arrow-icon-three {
animation: color_anim 1s infinite 0.2s;
}

.next:hover #arrow-icon-one {
transform: translateX(0%);
animation: color_anim 1s infinite 0.6s;
}

.next:hover #arrow-icon-two {
transform: translateX(0%);
animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
0% {
  fill: white;
}

50% {
  fill: var(--color-background);
}

100% {
  fill: #9ee5fa;
}
}

/* Button animations */
@-webkit-keyframes next {
0% {
  outline: 0.2em solid var(--color-background);
  outline-offset: 0;
}
}

@keyframes next {
0% {
  outline: 0.2em solid var(--color-background);
  outline-offset: 0;
}
}
