.tete{
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .titre{
    margin-left: 25px;
    display: flex;
    align-items: center;
    
    
  }
  
  .titre .icon {
    width: 25px; 
    height: 25px;
    margin-right: 10px; 
  }
  
  .gradient{
    font-family :Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right,#4fbe53,rgb(57, 137, 250));
    background-clip: text; 
    color: transparent;
  }
  .liste ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 2rem;
    margin-right: 30px;
  }
  .liste ul li {
    color: black;
  }
  
  .liste a{
    color: black;
    text-decoration: none;
  }
  .liste a:hover{
    color: rgb(20, 173, 200);
    text-decoration: underline;
    cursor: pointer;
  }
  .liste ul li button{
    border: 2px solid rgb(29, 152, 201);
    border-radius: 10px;
    color: rgb(29, 101, 201);
    background-color: inherit;
    width: 100px;
    height: 25px;
  }
  .liste ul li button:hover{
    background-color: rgb(20, 173, 200);
    color: black;
    cursor: pointer;
  }
  body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: #f9f9f9;
    }
    
    header {
      background-color: #4fbe53;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    
    header h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    
    section {
      padding: 20px;
      margin-bottom: 20px;
    }
    
    section h2 {
      font-size: 18px;
      margin-top: 0;
    }
    
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    
    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
      clear: both;
    }
    
    footer p {
      font-size: 14px;
      margin-bottom: 10px;
    }
    
    /* Responsive design */
    
    @media (max-width: 768px) {
      main {
        padding: 10px;
      }
      section {
        padding: 10px;
      }
    }
    
    @media (max-width: 480px) {
      header h1 {
        font-size: 18px;
      }
      section h2 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }